@media screen and (min-width: 600px){
        h3{ font-size: 24px}
        h5{ font-size: 18px;}
}

    img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  padding-top: 10px;
}


#map {
            height: 100%;
            width: 75%;
            margin-left: auto;
            margin-right: auto;
      }

body{
            background-image: url("../images/map.jpg");
            background-size: 50%;
            
            }

      

html,
    body {
          
            height: 100%;
            margin: 0;
            padding: 0;
            padding-bottom: 10px;
            }


.location{
          color: red;
      }
footer{position: fixed; 
    bottom: 0px;
    text-align: center;
    width: 100%; 
    background-color: #444444;
    color: seashell;
    

}

a{color: seashell;
background-color:#444444;}

.header{
    height: 10%;
    text-align: center;
}
.container-fluid{
        
        padding-right: var(--bs-gutter-x,.75rem);
        padding-left: var(--bs-gutter-x,.75rem);
        height: 80%;
        float: left;
        display: block;
        margin-left: auto;
        margin-right: auto;
        position: relative;
      }

#searchInput{
            width: 50%;
            height: 5%;
            font-size: 13px;
            }

.center-form{
    width: 100%;
}
.form{
    width:100%;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 5%;
    text-align: center;
}