@media only screen and (min-width: 600px){
        h3{ font-size: 15px}
        h5{ font-size: 10px;}
}

    img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  padding-top: 10px;
}


#map {
            height: 100%;
            width: 75%;
            margin-left: auto;
            margin-right: auto;
      }

body{
            background-image: url("../images/map.jpg");
            background-size: 50%;
            
            }

      

html,
    body {
          
            height: 100%;
            margin: 0;
            padding: 0;
            }


.location{
          color: #444444;
      }


footer{position: absolute; 
    bottom: 0px;
    text-align: center;
    width: 100%; 
    background-color: #444444;
    color: seashell;
}

a{color: seashell;
background-color:#444444;}

.header{
    height: 10%;
    text-align: center;
}
.container-fluid{
        
        padding-right: var(--bs-gutter-x,.75rem);
        padding-left: var(--bs-gutter-x,.75rem);
        height: 80%;
        float: left;
        display: block;
        margin-left: auto;
        margin-right: auto;
        position: relative;
      }

#searchInput{
            width: 50%;
            height: 5%;
            font-size: 13px;
            }

.center-form{
    width: 100%;
}
.form{
    width:100%;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 1%;
    text-align: center;
}